@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon" />
    <title>Error page</title>
    <link href="~/css/error.css" rel="stylesheet" />
</head>
<body>
    <div class="bgcont"><img src="~/images/bg.png" /></div>
    
    <div class="container">
        <div class="banner d-flex justify-content-center mt-3">
            <img src="~/images/banner.png" alt="banner" />
        </div>
        <div class="page text-center text-danger my-5">
            <h2>Sorry,we can't find that page!</h2>
        </div>
        <div class="footer text-center text-dark">
            <p>&copy; 2018 Foodies. All rights reserved. Terms and Conditions | Privacy Policy</p>
        </div>
    </div>
</body>
</html>
